<tr data-controller="infinite-scroll" data-infinite-scroll-next-page="image" data-src="<%= book.image.url %>">
  <td>
    <% if book.image.present? %>
      <% if book.image.url.ends_with?('.jpg', '.jpeg', '.png', '.gif') %>
        <%= image_tag book.image.url, alt: 'Book Image', class: 'index-image', style: 'height: 20px; width: 20px', data: { lazy_load_target: "image", src: book.image.url } %>
      <% else %>
        No Image
      <% end %>
    <% else %>
      No File
    <% end %>
  </td>
  <td style="width: 50%">
    <%= book.title %><br>
    <div data-controller="rating" data-book-id="<%= book.id %>">
      <%= form_with(model: [book, Rating.new], remote: true, data: { turbo_frame: "ratings" }) do |form| %>
        <div class="star-rating" data-action="click->rating#submitRating">
          <% (1..5).reverse_each do |i| %>
            <input type="radio" id="star<%= i %>-<%= book.id %>" name="rating[value]" value="<%= i %>" />
            <label for="star<%= i %>-<%= book.id %>" title="<%= i %> stars">â˜…</label>
          <% end %>
        </div>
      <% end %>
      <div id="ratings">
        <%= render book.ratings %>
      </div>
    </div>
  </td>
  <td><%= book.authors.map(&:name).join(", ") %></td>
  <td style="width: 25%" id="<%= dom_id(book, :wishlist_button) %>">
    <%= link_to "Edit", edit_book_path(book), class: "btn btn-success btn-block", data: { turbo_frame: "remote_modal" } %>
    <%= link_to "Delete", book, class: "btn btn-danger", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
    <% if book.wishlists.exists? %>
      <%= link_to "â¤ï¸", book_wishlist_path(book, book.wishlists.first), method: :delete, class: "btn btn-success", data: { controller: "wishlist", action: "wishlist#toggleWishlist", wishlist_target: "button", method: "delete", book_id: book.id, wishlist_id: book.wishlists.first.id } %>
    <% else %>
      <%= link_to "ðŸ¤", book_wishlists_path(book), method: :post, class: "btn btn-outline-success", data: { controller: "wishlist", action: "wishlist#toggleWishlist", wishlist_target: "button", method: "post", book_id: book.id } %>
    <% end %>
  </td>
</tr>
