<div class="d-flex justify-content-between">
  <h1>Books</h1>
  <p>
    <%= link_to "Authors", authors_path, class: "btn btn-success"%>
    <%= link_to "New book", new_book_path, class: "btn btn-primary", data: { turbo_frame: "remote_modal" } %>
  </p>
</div>

<div class="w-full" data-controller="infinite-scroll" data-infinite-scroll-next-page="<%= books_path(page: @books.next_page) %>" data-infinite-scroll-first-page="<%= books_path(page: 1) %>">
  <p class="text-xl font-bold">Lazy loading with Hotwire and Turbo Frames</p>
  Count: <%= @books.total_count %>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Title</th>
      <th scope="col">Authors</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody id="books-list">
    <%= render partial: 'books/books_list', locals: { books: @books } %>
    </tbody>
  </table>
  <div id="infinite-scroll-anchor" data-infinite-scroll-target="anchor"></div>
</div>
